{# DIV PRZEGLĄD LIST #}
<div class="col-sm-12">

    {# BOX PRZEGLĄD LIST #}
    <div class="box box-primary">

        {# BOX HEADER #}
        <div class="box-header with-border">
            <h3 class="box-title">Szczegółowe informacje</h3>
        </div>

        {# BOX BODY #}
        <div class="box-body">

            {{ form(listCreateForm) }}

        </div> {# END | BOX PRZEGLĄD LIST #}

    </div>
</div>
