{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}

{#     TYTUŁ DOKUMENTU     #}
{% block title %}NewMe - Panel{% endblock %}

{#     NAGŁÓWEK I PODTYTUŁ     #}
{% block page_title %}Panel główny{% endblock %}
{% block page_subtitle %}Zarządzaj swoimi listami{% endblock %}

{#     DODATKOWE SKRYPTY     #}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/custom.css') }}" rel="stylesheet">
{% endblock %}

{#     DODATKOWE STYLE     #}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/myjs.js') }}"></script>
{% endblock %}


{#     MENU GÓRNE     #}
{% block avanzu_navbar %}
    {% include  ':Lists/Home:home_navbar.html.twig' %}
{% endblock %}


{#     MENU BOCZNE     #}
{% block avanzu_sidebar %}
    {% include  ':Lists/Home:home_sidebar_menu.html.twig' %}
{% endblock %}


{#     ZAWARTOŚĆ STRONY     #}
{% block page_content %}

    <!-- KATALOG LIST -->
    {% include  ':Lists/Home:home_content_lists.html.twig' %}

    <!-- DETALE LISTY -->
    {% include  ':Lists/Home:home_content_detail.html.twig' %}
    <div class="clear"></div>

    <!-- STATYSTYKI -->
    {% include  ':Lists/Home:home_content_stats.html.twig' %}
    <div class="clear"></div>

    <div class="alert-fixed">

    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-ban"></i> Błąd zapisu!</h4>
        Wprowadzono niekompletne dane!
    </div>

    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-check"></i> Zmiany zapisane!</h4>
        Twoja lista jest już gotowa do odczytu.
    </div>

    </div>

{% endblock %}