    <div class="col-sm-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Statystyki w tym roku</h3>
            </div><!-- /.box-header -->

            <div class="box-body">
                <div class="row">

                    {%  if stats|length == 0 %}
                        Brak statystyk. Poczekaj aż je dla ciebie przygotujemy!
                    {% endif %}

                    {% for stat in stats %}

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="info-box">
                                <span class="info-box-icon bg-{{ stat.statColor }}"><i class="fa fa-{{ stat.statIcon }}-o"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">{{ stat.statTitle }}</span>
                                    <span class="info-box-number">{{ stat.statValue }}</span>
                                </div><!-- /.info-box-content -->
                            </div><!-- /.info-box -->
                        </div><!-- /.col -->

                    {% endfor %}

                    {#
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-aqua"><i class="fa fa-envelope-o"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Otrzymanych maili</span>
                                <span class="info-box-number">1,410</span>
                            </div><!-- /.info-box-content -->
                        </div><!-- /.info-box -->
                    </div><!-- /.col -->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-green"><i class="fa fa-flag-o"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Wypraw w nieznane</span>
                                <span class="info-box-number">8</span>
                            </div><!-- /.info-box-content -->
                        </div><!-- /.info-box -->
                    </div><!-- /.col -->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-yellow"><i class="fa fa-files-o"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Nowych artykułów</span>
                                <span class="info-box-number">19</span>
                            </div><!-- /.info-box-content -->
                        </div><!-- /.info-box -->
                    </div><!-- /.col -->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-red"><i class="fa fa-star-o"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Nowych przepisów</span>
                                <span class="info-box-number">24</span>
                            </div><!-- /.info-box-content -->
                        </div><!-- /.info-box -->
                    </div><!-- /.col -->

                    #}

                </div>
            </div>
        </div>
    </div>