    <div class="col-sm-6">
        <div class="box box-primary box-500">

            <div class="box-header with-border">
                <h3 class="box-title">Szczegółowe informacje</h3>
            </div><!-- /.box-header -->


            <div class="box-body">

                {%  if lists|length == 0 %}

                    <div class="empty-msg">
                        <h3>Pusto tu!</h3>
                        <p>Najpierw stwórz listę. Potem zobaczysz tutaj szcegółowe informację.</p>
                   </div>

                {% else %}

                    <dl class="dl-horizontal">
                        <dt>Nazwa listy</dt>
                        <dd>Życie towarzyskie</dd>
                        <dt>Utworzona</dt>
                        <dd>22-03-2017</dd>
                        <dt>Termin ważności</dt>
                        <dd>31-12-2017</dd>
                        <dt>Ukończona</dt>
                        <dd>Nie</dd>
                    </dl>

                    <h4>Lista zadań</h4>
                    <div class="progress-group">
                        <span class="progress-text">Zdobyć nowych znajomych</span>
                        <span class="progress-number"><b>1</b>/10</span>

                        <div class="progress sm">
                            <div class="progress-bar progress-bar-red" style="width: 10%"></div>
                        </div>
                    </div>

                    <div class="progress-group">
                        <span class="progress-text">Wyjechać za granice</span>
                        <span class="progress-number"><b>0</b>/2</span>

                        <div class="progress sm">
                            <div class="progress-bar progress-bar-red" style="width: 0%"></div>
                        </div>
                    </div>

                    <div class="progress-group">
                        <span class="progress-text">Nowe kontakty w telefonie</span>
                        <span class="progress-number"><b>5</b>/30</span>

                        <div class="progress sm">
                            <div class="progress-bar progress-bar-red" style="width: 17%"></div>
                        </div>
                    </div>

                    <div class="progress-group">
                        <span class="progress-text">Porozmawiać na nowe tematy</span>
                        <span class="progress-number"><b>1</b>/25</span>

                        <div class="progress sm">
                            <div class="progress-bar progress-bar-red" style="width: 4%"></div>
                        </div>
                    </div>

                {% endif %}

            </div><!-- /.box-body -->

            {# BOX FOOTER #}
            <div class="box-footer bottom-glue">
                <div class="btn-group pull-right">
<<<<<<< HEAD
                    <a class="addTaskHref" href="/add_task/1"><button type="button" class="btn btn-default"><i class="fa fa-plus"></i></button></a>
=======
                    <a href="/add_task"><button type="button" class="btn btn-default"><i class="fa fa-plus"></i></button></a>
>>>>>>> origin/master
                </div>
            </div> {# END | BOX FOOTER #}

        </div>
    </div>