{% extends ':Lists:base.html.twig' %}

{% block page_content %}

    <!-- KATALOG LIST -->
    {% include  ':Lists/Home:home_content_lists.html.twig' %}

    <!-- DETALE LISTY -->
    {% include  ':Lists/Home:home_content_detail.html.twig' %}
    <div class="clear"></div>

    <!-- STATYSTYKI -->
    {% include  ':Lists/Home:home_content_stats.html.twig' %}
    <div class="clear"></div>

{% endblock %}

{#     SKRYPTY INLINE     #}
{% block javascripts_inline %}
    {{ parent() }}

    <script>
        $(document).ready(function() {

            // Po kliknięciu na listę
            $('.listCat').on( "click", function() {

                var details = ['','','','',''];
                var i = 0;

<<<<<<< HEAD
                details[0] = $( this ).find('.info-box-text').text();

                $('.addTaskHref').attr( "href", '/add_task/' + $( this ).data('id') );

                $('.dl-horizontal dd').each( function(){
                    $( this ).text( 'wczytywanie...' );
                });
=======
                details[0] = $(this ).find('.info-box-text').text()
>>>>>>> origin/master

                // Wyślij zapytanie AJAX
                $.post('{{path('ajaxRequest')}}',
                    {listID: $( this ).data('id')},

                    function(response){
                        if(response.success){
                            details[1] = response.createdDate;
                            details[2] = String(response.expiresDate);
                            (response.finished ? details[3] = 'TAK' : details[3] = 'NIE');

                            $('.dl-horizontal dd').each( function(){
                                $( this ).text(details[i++]);
                            });

                            // TODO: Jeśli nie ma zadań, napis
<<<<<<< HEAD
                            console.log(response.tasks);
=======
>>>>>>> origin/master
                            // Jeśli są zadania wypisz zadania
                        }

                    }, "json");
            });
        });
    </script>

{% endblock %}